body{
font-family:Arial;
text-align:center;
margin:0;
padding:5px;
background:#0a2540;
}

h1{
font-size:40px;
margin-bottom:5px;
color: #ffffff;
}

h2{
font-size:16px !important;
color: #ffffff;
}

.container{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:6px;
max-width:100%;
margin:auto;
margin-bottom: 80px;
}

.colonne{
display:flex;
flex-direction:column;
align-items:center;
}

.colonne h2{
font-size:14px;
margin-bottom:5px;
}

.km{
background:#1f8f2e;
color:white;
border:none;
border-radius:5px;
padding:10px;
margin:2px;
font-size:16px;
font-weight:bold;
width:70px;
cursor:pointer;
}

.km:hover{
background:#146620;
}

.footer-text{
margin-top:140px;
margin-left:-100px;
font-size:20px;
color:#ffffff;
}

.title-bar{
display:flex;
align-items:center;
justify-content:center;
gap:10px;
margin-bottom:20px;
}

.logo{
height:60px;
}

.version{
font-size:12px;
color:#aaa;
margin-top:40px;
text-align:right;
margin-right:10px;
}