body{
font-family:Arial;
text-align:center;
margin:0;
padding:5px;
background:#f5f5f5;
}

h1{
font-size:22px;
margin-bottom:10px;
}

.container{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:6px;
max-width:100%;
margin:auto;
}

.colonne{
display:flex;
flex-direction:column;
align-items:center;
}

.colonne h2{
font-size:14px;
margin-bottom:5px;
}

.km{
background:#1f8f2e;
color:white;
border:none;
border-radius:5px;
padding:6px;
margin:2px;
font-size:13px;
font-weight:bold;
width:45px;
cursor:pointer;
}

.km:hover{
background:#146620;
}

.signature{
position:absolute;
bottom:calc(env(safe-area-inset-bottom) + 10px);
right:10px;
font-size:12px;
color:#000;
z-index:9999;
}